body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

img {
  width: 40%;
  margin-top: -6%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d5d5d5;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-form {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 35%;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #203261;
}

.box-user {
  position: relative;
  margin-bottom: 25px;
  left: -3%;
}

.box-user input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #203261;
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.box-user label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #020202;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.box-user input:focus + label,
.box-user input:valid + label {
  top: -20px;
  left: 10px;
  color: #268523;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #3aba6d;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background: #1b703d;
  color: #fff;
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: #268523;
  transition: 0.3s;
}

.btn:hover span:nth-child(1) {
  left: 100%;
}

.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: #268523;
  transition: 0.3s;
  transition-delay: 0.1s;
}

.btn:hover span:nth-child(2) {
  top: 100%;
}

.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: #268523;
  transition: 0.3s;
  transition-delay: 0.2s;
}

.btn:hover span:nth-child(3) {
  right: 100%;
}

.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: #268523;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.btn:hover span:nth-child(4) {
  bottom: 100%;
}

.error-msg {
  color: #ff6666;
  font-size: 12px;
  margin-bottom: 15px;
}

.user {
  width: 77%;
  border-radius: 4px;
  background: transparent;
  height: 3em;
  border: solid 1px gray;
}

p {
  color: #203261;
  font-style: italic;
  font-size: 12px;
}

.whatsapp-link {
  text-decoration: underline;
  color: blue;
}
