* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
}

/*Menu lateral*/

.sidebar {
  width: 76px;
  position: absolute;
  top: 7px;
  left: 87%;
  background-color: transparent;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar p {
  height: 51px;
  text-align: center;
  padding: 14.7px;
  background: #002a66;
  cursor: pointer;
  margin-top: -20px;
}

.sidebar p:hover {
  background: #002a66;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.sidebar ul li a {
  text-align: center;
  background-color: #2c608d;
  display: block;
  padding: 15px;
  color: #000000;
}

.sidebar ul li a:hover {
  background: #114069;
}

.sidebar .dropdown {
  display: none;
}

.sidebar .dropdown.show {
  height: 0px;
  width: 230%;
  margin-top: -9px;
  display: block;
  left: -117%;
}

.main-menu header ul {
  background-color: #002a66;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-menu header ul li {
  margin-right: 15px;
}

.main-menu header ul li a {
  color: #fff;
  text-decoration: none;
}

.main-menu header ul li a:hover {
  text-decoration: none;
}

.dropdown {
  display: none;
  list-style: none;
  padding: 0;
}

.dropdown.show {
  display: block;
  transition: all 0.3s ease;
}

.dropdown li {
  font-size: 13px;
  padding: 0px;
  background-color: rgb(202, 200, 200);
  border: 1px solid gray;
}

.dropdown li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

/*Fim do menu lateral*/

/*Menu principal*/

#a {
  border-width: 0px;
}

#b {
  width: 6%;
  border-radius: 0px;
  padding: 26px;
  margin-top: 0vh;
}

#c {
  width: 106%;
  border-radius: 6px;
  margin-left: -2%;
}

#f {
  margin-top: 15%;
  margin-left: 14vh;
}

#e {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

a :hover {
  opacity: 0.7;
  color: green;
}

nav {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  background: #002a66;
  height: 8vh;
  justify-content: flex-start;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 4vh;
}

.nav-list li {
  height: 3vh;
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

/*Fim do menu Principal*/

.quantity,
.unitPrice {
  width: 65px;
}

.description {
  width: 100%;
  min-height: 11vh;
  font-size: 2vh;
}

#icones {
  display: flex;
  align-items: center;
  gap: 20px;
}

main {
  background-color: white;
  background-size: cover;
  height: 92vh;
}

/*Buttons*/

#button {
  float: right;
  border: 0px;
  width: 6%;
  border-radius: 6px;
  height: 5vh;
  border: 1px solid #8e8e8e;
  background-color: #ececec;
}

#button:hover {
  background-color: #0080009c;
}

/*Fim dos buttons*/

#d {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.dev1 {
  float: left;
  width: 30%;
}

.dev2 {
  float: right;
  width: 70%;
  display: flex;
}

/*Responsividade*/

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: grey11;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.btn {
  background-color: #1c1c1c;
}

.quantity,
.unitPrice {
  width: 65px;
}

.description {
  width: 100%;
  min-height: 11vh;
  font-size: 2vh;
}

button {
  border: none;
  background-color: white;
}

#icones {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  #a {
    border-width: 0px;
  }
  #b {
    width: 9%;
    border-radius: 0px;
    padding: 26px;
    margin-top: 0vh;
  }
  #c {
    width: 106%;
    border-radius: 6px;
  }
  #button {
    float: right;
    border: 0px;
    width: 7%;
    border-radius: 6px;
    height: 4vh;
  }
  #button:hover {
    background-color: #0080009c;
  }
  #d {
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  .dev1 {
    float: left;
    width: 30%;
  }
  .dev2 {
    float: right;
    width: 70%;
    display: flex;
  }
  #f {
    margin-top: 15%;
    margin-left: 14vh;
  }
  #e {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
  }
  a :hover {
    opacity: 0.7;
    color: green;
  }
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
  }
  nav {
    width: 87%;
    display: flex;
    align-items: center;
    background: #002a66;
    height: 8vh;
    justify-content: flex-start;
  }
  main {
    background-color: white;
    background-size: cover;
    height: 92vh;
  }
  .nav-list {
    list-style: none;
    display: flex;
    padding: 4vh;
  }
  .nav-list li {
    height: 3vh;
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  .mobile-menu div {
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 8px;
  }
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: grey11;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  .nav-list.active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .btn {
    background-color: #1c1c1c;
  }
  .quantity,
  .unitPrice {
    width: 65px;
  }
  .description {
    width: 100%;
    min-height: 11vh;
    font-size: 2vh;
  }
  button {
    border: none;
    background-color: white;
  }
  #icones {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
