#a {
    border-width: 0px;
}

#b {
    width: 9%;
    border-radius: 0px;
    padding: 26px;
    margin-top: 0vh;
}

#c {
    width: 106%;
    border-radius: 6px;
}

#button {
    float: right;
    border: 0px;
    width: 13%;
    border-radius: 6px;
    height: 6vh;
}

#button:hover {
    background-color: #0080009c;
}

#d {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.dev1 {
    float: left;
    width: 30%;
}

.dev2 {
    float: right;
    width: 70%;
    display: flex;
}

#f {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15%;
    margin-left: 14vh;
}

* {
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
}

#e {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a :hover {
    opacity: 0.7;
    color: green;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

nav {
    width: 87%;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #002a66;
    height: 8vh;
    justify-content: flex-start;
}

main {
    background-color: white;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 4vh;
}

.nav-list li {
    height: 3vh;
    letter-spacing: 3px;
    margin-left: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: grey11;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.btn {
    background-color: #1C1C1C;
}

.quantity,
.unitPrice {
    width: 65px;
}

.description {
    width: 100%;
    min-height: 11vh;
    font-size: 2vh;
}

button {
    border: none;
    background-color: white;
}

#icones {
    display: flex;
    align-items: center;
    gap: 20px;
}